body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pageFather li{display: inline-block;margin: 0 5px;height: 28px;line-height: 28px;}
.pageFather li.page{width:28px;text-align: center;border: 1px solid #1ABBF1;}
.pageFather a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height:29px;
    color:#4DBEFF;
}
.disabled{cursor: not-allowed;}
.first,.prev,.next,.last,.allPage,.allDataNum{
    width: 68px;
    text-align: center;
    border: 1px solid #1ABBF1;
}
.pageFather .num_now li.first,
.pageFather .num_now li.prev,
.pageFather .num_now li.next,
.pageFather .num_now li.last,
.pageFather .num_now li.first a,
.pageFather .num_now li.prev a,
.pageFather .num_now li.next a,
.pageFather .num_now li.last a{
    width:29px;
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position-y: center;

}
.pageFather .num_now li.first,
.pageFather .num_now li.prev,
.pageFather .num_now li.next,
.pageFather .num_now li.last{
    border: none;
}
.pageFather .num_now li.first a{
    background-image:url('Aleft.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.pageFather .num_now li.prev a{
    background-image:url('left.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.pageFather .num_now li.next a{
    background-image:url('right.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.pageFather .num_now li.last a{
    background-image:url('Aright.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.allPage{font-size:12px;}
.showNum{
    width: 68px;
    height: 28px;
    line-height: 28px;
    vertical-align: bottom;
}
.inputPage{
    height: 28px;
    width: 70px;
    border: 1px solid #1ABBF1;
    padding: 0;
    outline: none;
    margin: 0;
    vertical-align: bottom;
    text-align:center;
    color:rgb(45, 161, 248);
}
.searchPage .span{
    background-color:#1991eb;
    display: inline-block;
    width: 68px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dddddd;
    margin-left: 10px;
    font-size: 14px;
}
.active{background-color: #2da1f8;}
.active a{color: white}

/*补充样式*/
.pageFather{position:relative;overflow:hidden;margin-top:32px;}
.pageFather li{
    height:28px;
    line-height:28px;
    margin:0px;
    margin-right: 8px;
}
.pageFather .num_now{
    float:right;}
.pageFather .num_now li{
    float:left;
}
.selectSpan{
    font-size:14px;
    margin-right:10px;
    color: #4DBEFF;
}
.pageFather li.allPage{
    /*display:none;*/
    margin-left: 15px;
    text-align:left;
    float: left;
    width:auto;
    border:none;
    font-size:14px;
}
.pageFather li.allPage .numBerA,.pageFather li.allDataNum .numBerA{
    color:#2da1f8;
    font-size:14px;
    margin-right:3px;
    margin-left:5px;
}
.pageFather li.allDataNum{
    width:auto;
    /*display:none;*/
    float: left;
    margin-left: 15px;
    border:none;
    font-size:14px;
}
.pageFather li.page{
    width:28px;
}
.pageFather li.page.active{
    border-top:none;
    border-bottom:none;
}
.pageFather li.selectLi{
    float:left;
    margin: 0;
    margin-left: 15px;
    color: #4DBEFF;
}
.pageFather li.searchPage .inputPage{
    height:28px;
    box-sizing: border-box;
    vertical-align: top;
}
.pageFather li.searchPage{
    margin-left:20px;
    margin-right: 10px;
}
.searchPage .span{
    height:28px;
    line-height:28px;
    cursor:pointer;
    background: #008BCC;
    border:1px solid #1ABBF1;
    width:70px;
    color:white;
}

.showNum{
    line-height:22px;
    height:28px;
}

.pagingSelect{
    width:70px;
    color: #4DBEFF;
    background: #0D4061;
    border: 1px solid #1ABBF1;
}


.inputPage::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(26, 187, 241, .5);
}
.inputPage::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(26, 187, 241, .5);
}
.inputPage::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(26, 187, 241, .5);
}
.inputPage:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(26, 187, 241, .5);
}
