

body{
    height: 100%;
}
form {
    height: 100%;
    overflow: hidden;
    position: relative;
}
html{
    height: 100%;
}

.scrollJS {
    height: calc(100% - 60px);
}

.z-Box{
    width: 100%;
    min-height: 100%;
}

.zTitle {
    text-align: center;
    background: #F2F4F6;
}

.cdct_row .cdct_info .ztextArea .zareaHei48 {
    height: 48px;
    padding-top: 14px;
}
