* {
    margin:0;
    padding:0;
    font-family: Microsoft Yahei;
    
}
body,html {
    width:100%;
    height:100%;
}
ul {
    list-style:none;
}
.html_title{
    height:37px;
    width:98.9%;
    padding:0 .5%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    border: 1px solid #ccc;
}
.html_title img{
    height:35px;
    vertical-align: -40%;
    float:left;
}
.html_title h4{
    display:inline-block;
    color:#488CB4;
    letter-spacing:4px;
    line-height:37px;
    font-size:14px;
    margin-left:10px;
    float:left;
}
.closse_all {
    font-size:30px;
    float:right;
    line-height:37px;
    cursor:pointer;
    color:#ccc;
}
    .closse_all:hover {
        color:black;
    }
.next_pole {
    cursor:pointer;
}

#data_pole_number {
    display:inline-block;
    width:50%;
}
    #data_pole_number img {
        cursor:pointer;
        vertical-align: -18%;

    }

    /* top table ------------------------------ */
.top-table {
    table-layout: fixed;
    width: 100%;
    height: 35px;
    text-align: center;
    /*word-break: break-all;*/
    /*letter-spacing: 3px;*/
    color:black;
    background:#C6E8F5;
}
.color-darkBlue {
    color:#488CB4;
}
.top-table tr {
    border: 1px solid #D2D2D2;
}
.top-table td {
    border-right: 1px solid #D2D2D2;
    font-family: Microsoft Yahei;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.top-table .col2 {
    width: 5px;
    border: 1px solid #D2D2D2;
    background:white;
}
.top-table .col15 {
    width: 5.9%;
    font-weight:bold;
    background:#C6E8F5;
    font-size: 16px;
}
.top-table .col16 {
    width: 10.6%;
    background:#C6E8F5;
}


/*list*/
.list_content {
    padding:10px .5% 10px .5%;
    width:99%;
    /*min-height:470px;*/
    overflow: auto;
    /*background:red;*/
}
.left_list,.right_list {
    width:49.4%;
    height:100%;
    /*background:blue;*/
    float:left;
    outline:#4C8EB5 1px solid;
}
.right_list {
    float:right;
}
.list_condition {
    min-height:38px;
    /*overflow:auto;*/
    width:100%;
    line-height:38px;
    font-weight:bold;
    color:#555555;

}
.table_head,.table_body {
    width:100%;
    line-height:30px;
    text-align:center;
}
tbody tr:nth-of-type(2n) {
    background:#EDF7FF;
}
tbody tr:nth-of-type(2n+1) {
    background:white;
}
.table_head_out {
    border-top:1px solid #4C8EB5;
    border-bottom:1px solid #4C8EB5;
}
    .table_head thead {
        color:black;
        font-weight:bold;
    }
.table_body_out {
    height:120px;
    overflow:auto;
}
.col100 {
    width:20%;
}
.col200 span,.col500 span{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    background:#999999;
    line-height:20px;
    cursor:pointer;
    color:white;
}
.col200 .chooseOne {
    background:#0377CA;
}
.col500 span {
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border-radius:12px;
    cursor:default;
    background:white;
    color:#3671CF;
}
    .col500 .colorF{
        color:#12B3EE;
    }
.col300 {
    width:33%;
}
.little_title {
    font-size:16px;
    font-weight:bold;
    color:#488CB4;
    padding-left:5px;
    letter-spacing:2px;
}
#ddlzt {
    width:120px;
}
.ui-multiselect {
            overflow: hidden;
            margin-bottom:4px;
        }
        .ui-multiselect > span:last-child {
            width: 80px;
            overflow: inherit;
            height: 18px;
            /*display: inline-block;*/
            white-space: nowrap;
            text-overflow: ellipsis;
            float:left;
        }
.little_condition {
    margin:0 10px 0 10px;
    display:inline-block;
    width:60px;
    text-align:justify; 
text-align-last:justify;
}

#hideUL,#hideUL2 {
    position:absolute;
    z-index:1314;
    display:none;
    min-width:40px;
    text-align:center;
    top:0;
    left:0;
    font-weight:normal;
}
    #hideUL > li ,#hideUL2 > li{
        line-height:30px;
        cursor:pointer;
    }
        #hideUL > li:hover,#hideUL2 > li:hover {
            color:white;
            background:#488CB4;
        }
        .pic{ 
            vertical-align:middle;
            display:inline-block;
            width:22px;
            height:22px;
            cursor:pointer;
        } 
        .pic_9,.pic_10{ 
            background:url(../img/OnePoleOneFile_time.png) no-repeat
        }
        .pic_8{ 
            background:url(../img/OnePoleOneFile_timeHover.png) no-repeat
        }
#L_btnQuery,#A_btnQuery {
    margin-left:10px;
}

/*对比区域*/
/* box content ------------------------------ */
.box-content {
    width: 99%;
    margin: 0 auto ;
}
.imgToggle{
    cursor:pointer;
}
.__show {
    transform:rotate(180deg);
}
.hide_list {
    display:none;
}

/* table ------------------------------ */
.box-table-img {
    width: 100%;
    margin-top: -1px;
}
.con-table-info,.con-table-img {
    table-layout: fixed;
    text-align: center;
    word-break: break-all;
}
.con-table-info {
    width: 100%;
    letter-spacing: 3px;
}
.con-table-img {
    width: 100%;
}
.con-table-img img {
    width: 100%;
    height:490px;
}
.con-table-info td,.con-table-img td {
    height: 34px;
    border-bottom: 1px solid #D2D2D2;
    font-size: 14px;
    line-height: 34px;
    color: #303030;
}
.con-table-img .bigFont {
    font-size:20px;
}
.con-table-info td.td-border,.con-table-img td.td-border{
    border-top: 1px solid #D2D2D2;
}
.con-table-info td.text-dark-blue {    
    padding-right: 2%;
    text-align: right;
    border: 1px solid #3671cf;
    color: #3671cf;
}
.con-table-info td.text-default-blue {
    padding-left: 2%;
    text-align: left;
    border: 1px solid #12B3EE;
    color: #12B3EE;
}
.con-table-info td.text-center {
    text-align: center;
}
.con-table-info td.text-right {
    text-align: right;
}
.con-table-info td.text-left {
    text-align: left;
}
.con-table-info td.padding-left {
    padding-left: 2%;
}
.con-table-info td.padding-right {
    padding-right: 2%;
}
.bg-gray {
    background-color: #f1f1f1;
}
.bg-black {
    background-color: #1B1B1B;
}
/* first column ------------------------------ */
.con-table-info tr td:first-child,.con-table-img tr td:first-child {
    width: 47.5%;
    border: 1px solid #3671cf;
    color: #3671cf;
}
.con-table-info tr:first-child td:first-child {
    background-color: #3671cf;
    border: 1px solid #3671cf;
    font-size: 16px;
    color: #fff;
    text-align: right;
}
/* last column ------------------------------ */
.con-table-info tr td:last-child,.con-table-img tr td:last-child {
    border: 1px solid #12B3EE;
    color: #12B3EE;
}
.con-table-info tr td:last-child {
    width: 47.5%;
}
.con-table-img tr td:last-child {
    width: 47.5%;
}
.con-table-info tr:first-child td:last-child {
    background-color: #12B3EE;
    border: 1px solid #12B3EE;
    font-size: 16px;
    color: #fff;
    text-align: left;
}
.con-table-info tr:first-child td a {
    font-size: 14px;
    color: #8bc55a;
    text-decoration: underline;
    cursor: pointer;
}
/* 设置最新信息区域边框颜色  */
.con-table-info tr:nth-child(1) td:nth-child(1) {
    border: 1px solid;
    border-bottom: none;
}
.con-table-info tr:nth-child(2) td:nth-child(1) {
    border-left: 1px solid;
}
.con-table-info tr:nth-child(2) td:nth-child(2) {
    border-right: 1px solid;
}
.con-table-info tr:nth-child(3) td:nth-child(1) {
    border-right: 1px solid;
}
.con-table-img tr td:nth-child(1) {
    border-left: 1px solid;
    border-right: 1px solid;
}
.con-table-img tr:nth-child(7) td:nth-child(1) {
    border-bottom: 1px solid;
}
.con-table-info tr:nth-child(1) td:nth-child(1),.con-table-info tr:nth-child(2) td:nth-child(1),
.con-table-info tr:nth-child(2) td:nth-child(2),.con-table-info tr:nth-child(3) td:nth-child(1),
.con-table-img tr td:nth-child(1),.con-table-img tr:nth-child(7) td:nth-child(1) {
    border-color: #3671CF;
}

/* 设置历史信息区域边框颜色  */
.con-table-info tr:nth-child(1) td:nth-child(3) {
    border: 1px solid;
    border-bottom: none;
}
.con-table-info tr:nth-child(2) td:nth-child(4) {
    border-left: 1px solid;
}
.con-table-info tr:nth-child(2) td:nth-child(5) {
    border-right: 1px solid;
}
.con-table-info tr:nth-child(3) td:nth-child(3) {
    border-left: 1px solid;
}
.con-table-img tr td:nth-child(3) {
    border-left: 1px solid;
    border-right: 1px solid;
}
.con-table-img tr:nth-child(2) td:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}
.con-table-img tr:nth-child(7) td:nth-child(3) {
    border-bottom: 1px solid;
}
.con-table-info tr:nth-child(1) td:nth-child(3),.con-table-info tr:nth-child(2) td:nth-child(4),
.con-table-info tr:nth-child(2) td:nth-child(5),.con-table-info tr:nth-child(3) td:nth-child(3),
.con-table-img tr td:nth-child(3),.con-table-img tr:nth-child(7) td:nth-child(3) {
    border-color: #12B3EE;
}


/* chart ------------------------------ */
#latest-temperature,#latest-pull-out,#latest-high-conductivity,
#history-temperature,#history-pull-out,#history-high-conductivity {
    display: inline-block;
    width: 100%;
    height:490px;
    max-height: 490px;
    margin: 0;
    background-color: #1B1B1B ;
}
/* player ------------------------------ */
#latest-note {
    display: none;
    width: 200px;
    height: 60px;
    padding: 2px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url(../img/player_bg.png) no-repeat;
    background-size: 220px 65px;
    line-height: 40px;
    z-index: 9999;
    opacity: 1.0;
    margin: 0 auto;
    position:relative;
}
#history-note {
    display: none;
    width: 200px;
    height: 60px;
    padding: 2px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url(../img/player_bg.png) no-repeat;
    background-size: 220px 65px;
    line-height: 40px;
    z-index: 9999;
    opacity: 1.0;
    position:relative;
    margin: 0 auto;
}
#latest-note a,#history-note a {
    display: inline-block;
}
/* progress bar ------------------------------ */
#latest-slider,#history-slider {
    font-size: 12px;
    margin: 0 auto;
    height: 0.4em;
    width: 88%;
}
#latest-slider .ui-slider-range,#history-slider .ui-slider-range { 
    background: #face1c; 
}
#latest-slider .ui-slider-handle,#history-slider .ui-slider-handle { 
    width: 16px;
    height: 16px;
    margin-top: -3px;
    margin-left: -6px;
    border: none;
    border-color: transparent;
    border-bottom: none;
    background: url(../img/player_circle_btn.png) no-repeat; 
    background-size: contain;
    cursor: pointer;
}
#latest-slider .ui-widget-content,#history-slider .ui-widget-content{ 
    border: 1px solid #666; 
    background: none; 
}
.ui-state-disabled {
    opacity: 1;
}




/*地图下标隐藏*/
.anchorBL{
    display:none;
}
/*分页样式*/
.pageWrap {
    margin-top:5px;
}
#hide_A, #hide_B{
    min-width:50px;
}
#chooseCar, #chooseCarB {
    display:none;
}
#ToTop {
    position:fixed;
    bottom:10px;
    right:10px;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:20px;
    cursor:pointer;
    background:#ccc;
    /*z-index:500;*/
    display:none;
}

@media screen and (max-width:1900px) {
    .list_condition {
        min-height: 77px;
    }

}