@charset "UTF-8";

.consulationSearchDiv .selectSearchDiv{
    width: 99%;
    padding-top: 1px;
    position: relative;
    padding-bottom:50px;
    
}
.consulationSearchDiv .selectSearchDiv .ul{
    width: auto;
    font-size: 0;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    line-height: 26px;
    height: 26px;
    float:left;
}
.consulationSearchDiv .selectSearchDiv .ul .Searchli{
    display: inline-block;
    width: 120px;
    height: 46px;
    line-height: 40px;
    font-size:18px;
    font-weight: 400;
    font-family: 微软雅黑;
    color:#354052;
    text-align: center;
   
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.Searchli>span{
	display: inline-block;
	 width: 120px;
	 height:28px;
	  border-right:1px solid #dfe3e9;
}
.consulationSearchDiv .selectSearchDiv .ul .Searchli.changeLi,.consulationSearchDiv .selectSearchDiv .ul .Searchli.moveClass{
 
    color:#2ea2f8;
}

.consulationSearchDiv .selectSearchDiv .ul .Searchli:last-child{
    border-right:1px solid #06f7fc;
}

.isSearch,.moveIsSearch{
    width: 110px;
    height: 44px;
    border-bottom:3px solid #30B3F9;
    margin-left:5px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.moveIsSearch{
    opacity: 0;
}


.SearchButen{
	margin-bottom: 8px;
    margin-top: 0px; 
    position: relative;
}
.consulationInp{
	height:36px;
}
.SearchButton{
	margin-left:10px;width:86px;height:36px;
	border-radius: 4px 0 0 4px;
	background-color:#f2f4f7;
	border:1px solid #dfe3e9;
	background-image:linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-ms-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-moz-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-webkit-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-o-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	font-size:14px;
    color:#354052;
    font-weight: 400;
    font-family: 微软雅黑;
}
.SearchsSlect{
	position: relative;
	width:24px;
	height:36px;
    border-radius:0 4px 4px 0;
	background-color:#f2f4f7;
	border:1px solid #dfe3e9;
	border-left:0px;
	background-image:linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-ms-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-moz-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-webkit-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	background-image:-o-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
	font-size:14px;
    color:#354052;
    font-weight: 400;
    font-family: 微软雅黑;
    
}

.SearchDivShowTwoSlect{
	position: relative;
	width:84px;
	height:36px;
    border-radius:4px;
	background-color:#1991eb;
	border:1px solid #1585d8;
	border-left:0px;
	background-image:linear-gradient(bottom, #1991eb 0%, #2da1f8 100%);
	background-image:-ms-linear-gradient(bottom, #1991eb 0%, #2da1f8 100%);
	background-image:-moz-linear-gradient(bottom, #1991eb 0%, #2da1f8 100%);
	background-image:-webkit-linear-gradient(bottom, #1991eb 0%, #2da1f8 100%);
	background-image:-o-linear-gradient(bottom, #1991eb 0%, #2da1f8 100%);
	font-size:14px;
    color:#ffffff;
    font-weight: 400;
    font-family: 微软雅黑;
    margin-top:12px;
    margin-right:13px;
}
.SearchDivShowTwoSlect:hover{
	color:#ffffff;
}
.SearchDivShowTwoSlect:focus{
	color:#ffffff;
}
.SearchsSlect>img{
	display: inline-block;
    position: absolute;
    top: 16px;
    left: 10px;
}
.SearchDivShow{
	width:460px;
	/*height:250px;*/
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius:4px;
	border:1px solid #dfe3e9;
	 position: absolute;
    top: 40px;
    right: 14px;
    z-index:9;
    display:none;
}
.cancaelBtnDate{
	position: relative;
    width: 84px;
    height: 36px;
    border-radius: 4px;
    background-color: #f2f4f7;
    border: 1px solid #dfe3e9;
 
    color:#666;
    background-image: linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
    font-size: 14px;
    font-weight: 400;
    font-family: 微软雅黑;
    margin-top: 12px;
    margin-right: 13px;
}
.SearchDivShowOne{
	max-height:190px;
	width:100%;
	background:#ffffff;
	min-height:130px;
}
.SearchDivShowTwo{
	height:58px;
	width:100%;
	background:#f1f3f6;
    border-top:1px solid #dfe3e9;
}
.PartingLine{
	width:20px;
	height:1px;
	border-top:1px solid #ced0da;
	margin-top:18px;
	margin-right:20px;
	margin-left:20px;
}
.searchColumnInp:focus {  
        outline: none;  
        border-color:#ced0da;  
        box-shadow: 0 0 10px rgba(206, 208,218, 0.4);  
 }  
 .searchColumnTime:focus{
       outline: none;  
        border-color:#ced0da;  
        box-shadow: 0 0 10px rgba(206, 208,218, 0.4);  
 }
 .searchColumnTime{
    width:300px;
    height:36px;
 }
 .searchColumnInp{
    width:120px;
    height:36px;
 }
 .searchPathologDiv{
   margin-top:20px;
   margin-left:22px;
   margin-bottom: 0px !important; 
   height: 36px;
 }
 .searchlable{
      padding-left: 10px !important;
      display: inline-block;
      width: 70px;
 }
 .searchCheckbox{
   margin-right:34px;
 }
 .searchTimeDiv{
        position: relative;
 }
 
 .searchColumnTime{
   padding-left:32px;
   background-color:transparent;
   position:relative;
   z-index:10;
   /*background-image: -webkit-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
   background-image: -moz--linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
   background-image: -o-linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);
   background-image: linear-gradient(bottom, #f2f4f7 0%, #ffffff 100%);*/
 }
  .searchColumnTime[disabled]{
  	z-index:0;
  }
.searchColumnTimeDiv{
    width:300px;
     height:36px;
   
  }
 .searchColumnTimeDiv:before{
                content: "";
                font-size: 16px;
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url(../../../img/data.png);
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: 14px;
                top:11px;
                bottom: 0;
                z-index:1;
            }
.searchColumnTimeDiv:after{
                content:"";
                font-size: 16px;
                display: inline-block;
                width:15px;
                height:34px;
                background-image: url(../../../img/seleticon1.png);
             /*    background-size: cover; */
                background-repeat: no-repeat;
                position: absolute;
                right: 2px;
                top:18px;
                bottom: 0;
            }
 