.scrollJS {
    height: calc(100% - 110px);
}

button {
    cursor: pointer;
}

.z-Box{
    width: 100%;
    min-height: 100%;
}
body{
    height: 100%;
}
form {
    height: 100%;
    overflow: hidden;
    position: relative;
}
html{
    height: 100%;
}

