@charset "utf-8";

.ulContainer{
    width:434px;
    min-height:160px;
    border:1px solid #97cceb;
    border-radius:5px;
    margin-top:-7px;
    margin-left:0;
    padding:15px 20px;
    position:absolute;
    color:#56aae1;
    font-size:12px;
    z-index:99;
    text-shadow:none;
    background-color:white;
    display:none;
}
.ulContainer>img{
    position:absolute;
    top:-8px;
    right:-8px;
    cursor:pointer;
}
.droup_title{
    height:28px;
    text-align:center;
    font-size:15px;
    border-bottom:2px solid #136799;
    overflow:visible;
    font-weight:bold;
}
.droup_body{
    margin-top:10px;
    height:auto;
    /*padding:5px 5px 5px 10px;*/
}
.droup_title>.droup_title_ju.droup_title_active,.droup_title>.droup_title_duan.droup_title_active,.droup_title>.droup_title_hao.droup_title_active{
    border:2px solid #136799;
    color:#00253a;
    background-color:white;
    border-bottom:none;
}
.droup_title>.droup_title_ju,.droup_title>.droup_title_duan,.droup_title>.droup_title_hao{
    border:1px solid #97cceb;
    float:left;
    padding:5px 15px;
    border-bottom:none;
    cursor:pointer;
}
.droup_title>.droup_title_duan{
    display:none;
    margin-left:3px !important;
}
.droup_title>.droup_title_hao{
    display:none;
    margin-left:3px !important;
}
.droup_body span{
    width:96px;
    padding:5px;
    display:inline-block;
    cursor:pointer;
    margin-top:6px;
}
.droup_body span:hover{
    color:#00253a;
}
.droup_body span.droup_body_HAO{
    width:120px;
}
.droup_body_ju,.droup_body_duan,.droup_body_hao{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.droup_body_duan, .droup_body_hao {
    display:none;
}
.select_icon:hover{
    cursor:pointer;
}
.glyphicon-chevron-down{
    font-size:13px;
    font-weight:normal;
    margin-left:5px;
}